extends ../layout

block content
  link(rel='stylesheet', href='#{indexcss}')
  script(src='#{markedscript}', type='text/javascript')
  script(src="#{highlightscript}")
  script(type='text/javascript').
    hljs.initHighlightingOnLoad();
    //实例化菜单监听
    let menu = new MenuClick();

  // 悬浮按钮
  div(class="mdui-fab-wrapper" mdui-fab="{trigger: 'hover'}")
    button(class="mdui-fab mdui-ripple mdui-color-theme-accent")
      i(class="mdui-icon material-icons") add
      i(class="mdui-icon mdui-fab-opened material-icons") mode_edit

    .mdui-fab-dial
      button(onclick="menu.CloseClick()" mdui-tooltip="{content: '关闭软件'}" class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-pink")
        i(class="mdui-icon material-icons") close
      button(onclick="menu.FileClick()" mdui-tooltip="{content: '文章目录'}" class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-red")
        i(class="mdui-icon material-icons") folder_open

  .row.col-md-12.clearPadding
    .main-left.col-md-6.col-sm-6.col-xs-6.clearPadding
      textarea(id="texts" rows="3" oninput="methods.UpdateChange()" placeholder="DBeditor The Best MarkDown Editor")
      ul.menu-list-icons
        li
            img(mdui-tooltip="{content: '保存修改'}" src="#{menulisticons.save}" )
        li
            img(mdui-tooltip="{content: '新建笔记'}" src="#{menulisticons.newfile}")
        li
            img(mdui-tooltip="{content: '快捷键提示'}" onclick="menu.HelpClick()" src="#{menulisticons.help}")

        li( id="full")
            img(mdui-tooltip="{content: '全屏写作'}" src="#{menulisticons.full}" onclick="methods.launchFullScreen(document.documentElement)")

        li(mdui-tooltip="{content: '退出全屏'}" style="display:none" id="exit")
            img(src="#{menulisticons.exit}" onclick="methods.exitFullscreen()")

        li(id="forward")
            img(mdui-tooltip="{content: '上一步'}" onclick="menu.BackClick()" src="#{menulisticons.forwar}")
        li
            img(mdui-tooltip="{content: '清空内容'}" onclick="menu.DeletClick()" src="#{menulisticons.delete}")




    .main-right.col-md-6.col-sm-6.col-xs-6.clearPadding
      div(id='show')

    div(id="menu-left" class="menu-show")
        .text-center.write-div
            img(src="/images/write.png" class="write")
        p 文章列表
          img(src="/images/menulist.png" class="menu-icons")
        ul
            li
               a() 测试

            li
                a() 测试
            li
                a() 测试

  div(class="prop-blank text-center" id="blank")
      img(onclick="menu.PropsHide()" id="close-props" src="/images/close-outline.png" width="30" height="30")
      p(class="tips") 提示：请先按快捷键 Ctrl+p 新建笔记，输入笔记名后回车。<br />即可开始享受愉快的写作过程！
  script(type='text/javascript').
      methods.changeDivHeight();
      $("#texts").scroll(function () {
          $("#show").scrollTop($("#texts").scrollTop());
      });


