extends ../layout
block content
    link(rel='stylesheet', href='#{welcomecss}')

    .main-body.container
        .text-center
            img(src='#{logo}' alt='markdown')
            .row.col-md-12
                .title
                    h3  #{description}

            .row.col-md-12
                a(href='#{menulist.start.href}' class='next-md') #{menulist.start.title}
                a(href='#{menulist.blog.href}' class='next-md' target='_blank') #{menulist.blog.title}
                a(href='#{menulist.intr.href}' class='next-md' target='_blank') #{menulist.intr.title}
                a(href='#{menulist.help.href}' class='next-md') #{menulist.help.title}


    script(src="#{ribbonscript}", type='text/javascript')