extends ../layout

block content
    link(rel='stylesheet', href='#{helpcss}')

    .container
        h1.problem-title #{problemtitle}

        .problem
             h3.problem-h3-title #{BaseUse[0].itemtitle}
             p.problem-text #{BaseUse[1].itemtdec}
             ul.problem-text
               li
                 p #{BaseUse[2].items}
               li
                 p #{BaseUse[3].itemh}
               li
                 p #{BaseUse[4].itemq}
               li
                 p #{BaseUse[5].itemp}
               li
                 p #{BaseUse[6].itemd}
               li
                 p #{BaseUse[7].itemc}
               li
                 p #{BaseUse[8].itemv}
               li
                 p #{BaseUse[9].itemx}
               li
                 p #{BaseUse[10].itemwait}

             h3.problem-h3-title #{SaveNote[0].itemtitle}
             p.problem-text #{SaveNote[1].itemtdec}


             h3.problem-h3-title #{HelpMe[0].itemtitle}
             div
                p.problem-text #{HelpMe[1].itemtdec}
                img( class="problem-text" width="120" height="120" src="#{HelpMe[2].itemimg}")